# Code

In [1]:
clean_df = pd.read_excel('../converted/samples_new_clean.xlsx', sheet_name='AllProjects')
clean_df[610:]

,PatientID,LastName,FirstName,DOB,SAP,Clinix,Project,Timepoint,Date,Type,CountOrg,Count,N2org,N2,N2removed,DNA,Note
610,MC_18021938,Mundt,Christine,1938-02-18,0041782455,No Info,KH,sample,2016-08-12,PB,"8,0x10E6 (5), Gran (3)","MN8,0E6(5)GR(3)","Tank /Turm 5/Box 2/Pos. 73, 74, 75, 76, 77, 78...","TankTW/Turm5/Box2/Pos73,74,75,76,77,78,79,80",NaN,"Freezer links, Drawer 1/Box4/Pos. 64",NaN
611,RG_05111949,Rimkus,Gisbert,1949-11-05,0001275878,No Info,KH,sample,2016-08-12,PB,"4,1x10E6 (5), Gran (3)","MN4,1E6(5)GR(3)","Tank /Turm 5/Box 1/Pos. 81, 82, 83, 84, 85, 86...","TankTW/Turm5/Box1/Pos81,82,83,84,85,86,87,88",NaN,"Freezer links, Drawer 1/Box4/Pos. 65",NaN
612,PB_31071938,Poppe,Brigitte,1938-07-31,NaN,No Info,KH,sample,2016-08-12,PB,"4,8x10E6 (5), Gran (3)","MN4,8E6(5)GR(3)","Tank /Turm 5/Box 2/Pos. 65 ,66, 67, 68, 69, 70...","TankTW/Turm5/Box2/Pos65,66,67,68,69,70,71,72",NaN,"Freezer links, Drawer 1/Box4/Pos. 66",NaN
613,BA_23091942,Borowski,Angelika,1942-09-23,0041097296,No Info,KH,sample,2016-08-16,PB,"5,6x10E6 (5), Gran (3)","MN5,6E6(5)GR(3)","Tank /Turm 5/Box 2/Pos. 20,21,22,23,24,25,26,27","TankTW/Turm5/Box2/Pos20,21,22,23,24,25,26,27",NaN,"Freezer links, Drawer 1/Box4/Pos. 67",NaN
614,BG_24051949,Böttcher,Gabriele,1949-05-24,0070028955,No Info,KH,sample,2016-08-16,PB,"9,9x10E6 (5), Gran (3)","MN9,9E6(5)GR(3)","Tank /Turm 5/Box 2/Pos. 28,29,30,31,32,33,34,35","TankTW/Turm5/Box2/Pos28,29,30,31,32,33,34,35",NaN,"Freezer links, Drawer 1/Box4/Pos. 68",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1330,HC_15101947,Hauk,Christine,1947-10-15,0071103543,No Info,GI,GI1,2017-03-13,PB,MN 3x10E6 (5); GR(3),MN3E6(5)GR(3),"Tank/Turm 9/Box 3/Pos. 98, 99, 100; Box 4/Pos....","TankTW/Turm9/Box3/Pos98,99,100Box4/Pos1,2,3,4,5",-,"Box 5, Pos. 4I",NaN
1331,SK_20101944,Schreiber,Karin,1944-10-20,NaN,No Info,GI,GI1,2017-03-13,PB,"MN 7,5x10E5(5); GR(3)","MN7,5E5(5)GR(3)","Tank/Turm 9/Box 4/Pos. 6, 7, 8, 9, 10, 11, 12, 13","TankTW/Turm9/Box4/Pos6,7,8,9,10,11,12,13",-,"Box 5, Pos. 5I",NaN
1332,SK_20101944,Schreiber,Karin,1944-10-20,NaN,No Info,GI,GI2,2017-05-08,PB,"MN 2,7x10E6 (5); GR (3)","MN2,7E6(5)GR(3)","Tank/Turm9/Box6/Pos. 23, 24, 25, 26, 27, 28, 2...","TankTW/Turm9/Box6/Pos23,24,25,26,27,28,29,30",-,"Box 6, Pos. 25",NaN
1333,KJ_23101942,Kloskowski,Jörg,1942-10-23,Fall 3107881206,No Info,GI,GI1,2017-03-27,PB,"MN 3,6x10E6 (5); GR (3)","MN3,6E6(5)GR(3)","Tank/Turm 9/Box 4/Pos. 54, 55, 56, 57, 58, 59,...","TankTW/Turm9/Box4/Pos54,55,56,57,58,59,60,61",-,"Box 6, Pos. 3",NaN
1334,HK_12061966,Habil,Khalil,1966-06-12,NaN,No Info,GI,GI1,2017-09-08,PB,"MN 1,9x10E6 (5); GR (3)","MN1,9E6(5)GR(3)","Tank/Turm 9/Box 7/Pos. 80, 81, 82, 83, 84, 85,...","TankTW/Turm9/Box7/Pos80,81,82,83,84,85,86,87",-,"Box 6 , Pos. 43",NaN

### select a few rows for testing

In [2]:
row = clean_df.iloc[1330,:]
removed = clean_df.query('N2removed != "-" and N2removed == N2removed')
removed_row = removed.iloc[0,:]
# removed_row

PatientID                                        RJ_24061935
LastName                                                Reim
FirstName                                            Joachim
DOB                                      1935-06-24 00:00:00
SAP                                               0001023363
Clinix                                               No Info
Project                                                   KH
Timepoint                                             sample
Date                                     2015-08-18 00:00:00
Type                                                      PB
CountOrg                             2,81x10E6 (4), Gran.(4)
Count                                       MN2,81E6(4)GR(4)
N2org        Tank 5/Turm 4/Box 5/Pos. 87, 88, 89, 90, 91, 94
N2                     Tank5/Turm4/Box5/Pos87,88,89,90,91,94
N2removed                              Pos. 92, 93; 09.09.15
DNA                    Freezer links, Drawer 1/ Box1/Pos. 35
Note                            Gran.-Präp mit/ohne Ery-Lyse
Name: 730, dtype: object

### convert the N2 string to tube_df

In [3]:
tank_string = r'(?:(?:Tank)?(?P<Tank>[?0-9TW]+)/)?'
turm_string = r'(?:(?:Turm)?(?P<Turm>[?0-9]+)/)?'
box_string = r'(?:(?:Box)?(?P<Box>[?0-9]+)/)?'
pos_string = r'Pos(?P<Pos>[-?0-9]+(?:,[-?0-9]+)*)'
cryo_pattern = re.compile(tank_string+turm_string+box_string+pos_string)

pos = r'Pos\.? ?(?P<Pos>[0-9]+(?:, ?[0-9]+)*); ?'
date = r'(?P<Date>[0-9][0-9][./-][0-9][0-9]?[./-][0-9][0-9])'
removed_pattern = re.compile(pos + date)


def convert_date(dates):
    # convert to str and strip 00:00:00
    
    date_str = dates.astype(str).str.replace('00:00:00', '').str.replace(' ', '')
    date_str = date_str.str.replace(r'.*([0-9][0-9])\.([0-9][0-9])\.([12]?[0-9]?[0-9][0-9]).*', r'\1.\2.\3')
    date_str = date_str.str.replace(r'.*([0-9][0-9])/([0-9][0-9])/([12]?[0-9]?[0-9][0-9]).*', r'\2.\1.\3')
    date_str = date_str.str.replace(r'.*([12][0-9][0-9][0-9])-([0-9][0-9])-([0-9][0-9]).*', r'\3.\2.\1')
    # add the 20 to 01 --> 2001
    date_str = date_str.str.replace(r'\.([0-9][0-9])$', r'.20\1')
    date = pd.to_datetime(date_str, format="%d.%m.%Y", exact=False)  # , errors='coerce'
    # date = pd.to_datetime(date_str, format="%d.%m.%Y", exact=False, errors='ignore')
    return date


def extract_cryo_loc(m, cryo_string, location={}):
    '''
    extracts cryo_info and returns location_dict and remaining string
    '''

    new_loc = {t:m.group(t) for t in ['Tank', 'Turm', 'Box', 'Pos'] if m.group(t)}
    location.update(new_loc)
    rest_string = cryo_string[m.end():]
    return rest_string, location


def make_cryo_tube_df(loc_dict):   
    loc_dict['Pos'] = loc_dict['Pos'].split(',')
    df = pd.DataFrame.from_dict(loc_dict)
    df['Removed'] = (df['Pos'] == "-").astype(int)
    
    # adjust removed and unknown samples
    df['Pos'] = df['Pos'].replace(['?', '-'], -50).astype(int)
    while len(df.loc[df['Pos'] < 0, 'Pos']):
        df.loc[df['Pos'] < 0, 'Pos'] = df.shift(-1)['Pos'] - 1
    df['Pos'] = df['Pos'].fillna(-50).astype(int)
    while len(df.loc[df['Pos'] < 0, 'Pos']):
        df.loc[df['Pos'] < 0, 'Pos'] = df.shift(1)['Pos'] + 1
    df['Pos'] = df['Pos'].astype(int)
        
    return df


def cryo2df(row, col='N2'):
    '''
    consume 
    '''
    cryo_string = row[col] # 'N2'
    loc_dict={}
    df = pd.DataFrame()
    while (m := cryo_pattern.match(cryo_string)):
        cryo_string, loc_dict = extract_cryo_loc(m, cryo_string, loc_dict)
        df = pd.concat([df, make_cryo_tube_df(loc_dict)])
    return df.reset_index(drop=True)

def removed2df(row, col='N2removed'):
    '''
    make a removed df from N2removed
    '''
    
    if (m:= removed_pattern.match(row[col])):
        # make a tube list from positions 
        pos = m.group('Pos').replace(' ','').split(',')
        df = pd.DataFrame.from_dict({'Pos':pos, 'removeDate': m.group('Date')})
    else:
        df = pd.DataFrame(columns=['Pos', 'removeDate'])
    df['Pos'] = df['Pos'].astype(int)
    return df

In [4]:
removed2df(removed_row, col='N2removed')

   Pos removeDate
0   92   09.09.15
1   93   09.09.15

### convert the count string to df

In [20]:
type_pattern = r'(?P<Type>[A-Za-z\-]+)'
cell_count_pattern = r'(?P<Count>[0-9]+(?:,[0-9]+)?[Ee][0-9])?'
tube_count_pattern = r'\((?P<Tubes>[0-9]+)\)'
count_pattern = re.compile(type_pattern + cell_count_pattern + tube_count_pattern)


def extract_count(m, count_string):
    '''
    extracts cryo_info and returns location_dict and remaining string
    '''
    # print(count_string)
    count_dict = {t:m.group(t) for t in ['Type', 'Count', 'Tubes']}
    rest_string = count_string[m.end():]
    return rest_string, count_dict


def make_count_tube_df(count_dict):
    count_dict['Type'] = [count_dict['Type'] for tube in range(int(count_dict['Tubes']))]
    df = pd.DataFrame.from_dict(count_dict)
    return df


def count2df(row, col='Count'):
    count_string = row[col] # 'Count'
    
    df = pd.DataFrame()
    while (m := count_pattern.match(count_string)):
        count_string, count_dict = extract_count(m, count_string)
        df = pd.concat([df, make_count_tube_df(count_dict)])
    return df.reset_index(drop=True).drop(columns='Tubes')

### testing patterns

In [21]:
test = 'MN1,52e7(5)GR(2)Pl(2)KM6,2e6(5)'
pat = type_pattern
pat += cell_count_pattern
# pat += tube_count_pattern
m = re.compile(pat).match(test)
m.group(0)

'MN1,52e7'

In [22]:
count2df(clean_df.iloc[0,:])

#0: [GJ_15021964] MN1,52e7(5)GR(2)Pl(2)KM6,2e6(5)

   Type   Count
0    MN  1,52e7
1    MN  1,52e7
2    MN  1,52e7
3    MN  1,52e7
4    MN  1,52e7
5    GR    None
6    GR    None
7    Pl    None
8    Pl    None
9    KM   6,2e6
10   KM   6,2e6
11   KM   6,2e6
12   KM   6,2e6
13   KM   6,2e6

### merge the dfs

In [23]:
def get_tube_df(row, count_col='Count', cryo_col='N2', removed_col='N2removed'):
    '''
    creates tube_df from all info in a row of sample_df
    '''
    
    # create the count_dfs
    cryo_df = cryo2df(row, col=cryo_col)
    removed_df = removed2df(row, col=removed_col)
    count_df = count2df(row, col=count_col)
    # merge the tubes to complete the tube positions
    merged1 = cryo_df.merge(removed_df, on='Pos', how="outer")
    # merge the type info
    merged2 = merged1.merge(count_df, left_index=True, right_index=True, how="outer")
    
    # edit the data
    # sort                                        
    tube_df = merged2.sort_values(['Tank', 'Turm', 'Box', 'Pos'])
    # fill in missing info
    tube_df = tube_df.fillna(method='bfill').fillna(method='ffill')
    # convert to datetime
    tube_df['removeDate'] = convert_date(tube_df['removeDate'])
    tube_df['Removed'] = tube_df['Removed'].astype(int)
    tube_df['SampleID'] = row.name
    return tube_df

In [24]:
get_tube_df(clean_df.iloc[0,:])

#0: [GJ_15021964] MN1,52e7(5)GR(2)Pl(2)KM6,2e6(5)

   Tank Turm Box  Pos  Removed removeDate Type   Count  SampleID
0    TW   23   1    1        0        NaT   MN  1,52e7         0
1    TW   23   1    2        0        NaT   MN  1,52e7         0
2    TW   23   1    3        0        NaT   MN  1,52e7         0
3    TW   23   1    4        0        NaT   MN  1,52e7         0
4    TW   23   1    5        0        NaT   MN  1,52e7         0
5    TW   23   1    6        0        NaT   GR   6,2e6         0
6    TW   23   1    7        0        NaT   GR   6,2e6         0
7    TW   23   1    8        0        NaT   Pl   6,2e6         0
8    TW   23   1    9        0        NaT   Pl   6,2e6         0
9    TW   23   1   10        0        NaT   KM   6,2e6         0
10   TW   23   1   11        0        NaT   KM   6,2e6         0
11   TW   23   1   12        0        NaT   KM   6,2e6         0
12   TW   23   1   13        0        NaT   KM   6,2e6         0
13   TW   23   1   14        0        NaT   KM   6,2e6         0

In [35]:
# the entire samples_df has to be concated using pd.iterrows - just no other way
def make_tube_df(sample_df, count_col='Count', cryo_col='N2', removed_col='N2removed'):
    # init container
    tube_df_list = []
    for _, row in sample_df.iterrows():
        #########
        print(f"#{row.name}: [{row['PatientID']}] {row['Count']} {row['N2']}")
        ########
        tube_df = get_tube_df(row)
        tube_df_list.append(tube_df)
    # concat and remerge on shared index
    tube_dfs = pd.concat(tube_df_list)
    merge_df = sample_df.drop(columns=['Count', 'N2']).rename(columns={'Type': 'TypeOrg'}).merge(tube_dfs, left_index=True, right_on='SampleID', how='outer')
    return merge_df

In [36]:
test_df = clean_df[:100]

make_tube_df(test_df)

#0: [GJ_15021964] MN1,52e7(5)GR(2)Pl(2)KM6,2e6(5) TankTW/Turm23/Box1/Pos1,2,3,4,5,6,7,8,9,10,11,12,13,14
#0: [GJ_15021964] MN1,52e7(5)GR(2)Pl(2)KM6,2e6(5)
#1: [GJ_15021964] MN9e6(5)GR(2)Pl(2) TankTW/Turm23/Box1/Pos32,33,34,35,36 37,38 39,40
#1: [GJ_15021964] MN9e6(5)GR(2)Pl(2)
#2: [GJ_15021964] MN4,5e6(8)GR(2)Pl(2)KM7,2e6(5) TankTW/Turm23/Box1/Pos15,16,17,18,19,20,21,22 23,24 25,26 27,28,29,30,31
#2: [GJ_15021964] MN4,5e6(8)GR(2)Pl(2)KM7,2e6(5)
#3: [BJ_140388] MN1,2e7(5)GR(2)Pl(2) TankTW/Turm23/Box1/Pos42,43,44,45,46 47,48 49,50
#3: [BJ_140388] MN1,2e7(5)GR(2)Pl(2)
#4: [BJ_140388] CAR-TC2,5E6(5) TankTW/Turm23/Box1/Pos51,52,53,54
#4: [BJ_140388] CAR-TC2,5E6(5)
#5: [SM_070959] MN1,36e7(5)GR(2)Pl(2) TankTW/Turm23/Box1/Pos55,56,57,58,59 60,61 62,63
#5: [SM_070959] MN1,36e7(5)GR(2)Pl(2)
#6: [HH_26091966] MN5E6(5)GR(2)Pl(2) TankTW/Turm23/Box1/Pos64,65,66,67,68 69-70 71,72
#6: [HH_26091966] MN5E6(5)GR(2)Pl(2)
#7: [SU_13011964] MN3,2e8(5)GR(2)Pl(2) TankTW/Turm23/Box1/Pos73,74,75,76,77 78,79 80,81
#7: [SU_13011964] MN3,2e8(5)GR(2)Pl(2)
#8: [HJ_300439] MN3,5E7(5)GR(2)Pl(2) TankTW/Turm14/Box2/Pos1,2,3,4,5 6,7 8,9
#8: [HJ_300439] MN3,5E7(5)GR(2)Pl(2)
#9: [MB_210958] MN2,2E8(5)GR(2)Pl(2) TankTW/Turm14/Box2/Pos17,18,19,20,21  22,23 24,25
#9: [MB_210958] MN2,2E8(5)GR(2)Pl(2)
#10: [DO_06081956] MN1,2E8(5)GR(2)Pl(2) TankTW/Turm14/Box2/Pos10,11,12,13,14  15,16
#10: [DO_06081956] MN1,2E8(5)GR(2)Pl(2)
#11: [RA_070461] MN6,8E7(5)GR(2)Pl(2) TankTW/Turm14/Box2/PosC8C9D1D2D3  D4D5 D6D7
#11: [RA_070461] MN6,8E7(5)GR(2)Pl(2)

KeyError: 'Pos'

In [10]:
# set column constants
patient_cols = ['PatientID', 'LastName','FirstName', 'DOB', 'SAP', 'Clinix']
data_cols = ['Timepoint', 'Date', 'Type', 'Count', 'N2', 'N2removed', 'DNA', 'Note']  # columns that are repeated horizontally and need to be reduced

project = 'Project'
sample_cols = ['Sample_ID', timepoint, 'Date', 'Organ'] + data_cols
cryo_cols = ['Cryo_ID', 'Tank', 'Tower', 'Box', 'Position']
cryo_info = ['Organ', 'Population', 'Count']
# regex patterns
count_pattern = re.compile(r'[^MmGgPpKk0-9]*(?:(?P<Organ>[A-Za-z])/)?(?P<Population>[A-Za-z]+)?[^0-9]?(?P<Cells>[,0-9xEe;]+)?[^\(]*\((?P<Count>[0-9]+)\)[^MmGgPpKk0-9]*(?P<rest>[A-Za-z]+.*)?')
tank_string = '[^Tt]*(?P<tank>Tank ?[^/]*)[ /,]+'
turm_string = 'Turm ?(?P<turm>\d+)[ /,]+'
box_string = 'Box ?(?P<box>\d+)[ /,]+[^-0-9]*'
pos_string = '(?P<pos>[-0-9, ]+)[ /,;]*(?P<rest>[TtBb].+)?'

tank_pattern = re.compile(tank_string + turm_string + box_string + pos_string)
turm_pattern = re.compile(turm_string + box_string + pos_string)
box_pattern = re.compile(box_string + pos_string)


def retrieve_tubes(row):
    '''
    expands every row of sample_df to a dataframe of cryo_tubes
    '''
    # get strings
    count_string = row['Count'] # 'Count'
    cryo_string = row['N2'] # 'N2'
    # dna_string = row[data_cols[3]] # 'DNA'
    
    if cryo_string == 'nan' or cryo_string == '/':
        return pd.DataFrame().append(row)
    ########
    print(row.name, row['Patient_ID'], count_string, cryo_string)
    ########
    
    def make_pos_df(tank,turm,box,pos_string):
        '''
        returns a position dataframe parsed from cryostring
        '''
        # initialize dataframe
        df = pd.DataFrame()
        # make a row for each position
        
        positions = [pos for pos in pos_string.replace(' ','').replace('-',',-,').split(',') if pos]
        for pos in positions:
            row[cryo_cols[-1]] = pos
            df = df.append(row)
        df[cryo_cols[-4]] = tank
        df[cryo_cols[-3]] = turm
        df[cryo_cols[-2]] = box
        
        # for i in list(df.index)[-2::-1]:
          #   if df.iloc[i,7] == '-' and not df.iloc[i+1,7] == '-':
            #     df.iloc[i,7] = int(df.iloc[i+1,7]) - 1
              #   df.iloc[i,5] = df.iloc[i,5] + ' <<Position inferred>>'
        return df
        
    ###################################################################################################
    #######################################  PARSING N2  ##############################################
    m = tank_pattern.match(cryo_string)
    tank = m.group('tank')
    turm = m.group('turm')
    box = m.group('box')
    
    # make the pos_df
    print(m.group('pos'))
    pos_df = make_pos_df(tank, turm, box, m.group('pos'))
    rest_string = m.group('rest')
  
    # handle rest_string (has to contain at least numbers)
    if rest_string and bool(re.search(r'\d', rest_string)):
        ##########
        # print(rest_string)
        ##########
        if 'Turm' in rest_string:
            m = turm_pattern.match(rest_string)     
            turm = m.group('turm')
            box = m.group('box')
            pos_df = pd.concat([pos_df, make_pos_df(tank, turm, box, m.group('pos'))], sort=True)
        elif 'Box' in rest_string:
            m = box_pattern.match(rest_string)
            box = m.group('box')
            pos_df = pd.concat([pos_df, make_pos_df(tank, turm, box, m.group('pos'))], sort=True)
       
    # remove superfluous columns to prevent doubling data
    pos_df = pos_df.reset_index().drop(sample_cols[1:4], axis=1)
    #######################################  PARSING N2  ##############################################
    ###################################################################################################
    
    ###################################################################################################
    #######################################  PARSING COUNT  ###########################################
    tube_df = pd.DataFrame()
    
    # account for 'nicht gezählt'
    if count_string == 'I nicht gezählt' or count_string == '' or count_string == 'nan' or count_string == '?':
        for _ in range(len(pos_df.index)):
            cryo_row = pd.Series({
                cryo_info[0]: None,
                cryo_info[1]: None,
                cryo_info[2]: None
            })
            tube_df = tube_df.append(cryo_row, ignore_index=True)
        count_string = ''
    while count_string: 
        m = count_pattern.match(count_string)
        if m:
            count_string = m.group('rest')
            organ = m.group('Organ')
            population = m.group('Population')
            cell_count = m.group('Cells')
            cryo_count = int(m.group('Count'))
        
            # infer stuff   
            if cell_count and not population:
                population = 'MN'
            if cell_count:
                population = 'MN'
            # infer organs if not set in sample
            if not row['Organ'].upper() in ['PB', 'BM','KM']:
                if 'GR' in population.upper() or 'PL' in population.upper():
                    organ = 'PB'
                if population == 'MN' and not organ:
                    organ = 'PB'
                    
            # return row for matches
            cryo_row = pd.Series({
                cryo_info[0]: organ,
                cryo_info[1]: population,
                cryo_info[2]: cell_count
            })
            for pos in range(cryo_count):
                tube_df = tube_df.append(cryo_row, ignore_index=True)
                
            ###############################################
            # print(row.name, organ, population, cell_count)
            ###############################################
        else:
            raise ValueError('No match with Count pattern')
    #######################################  PARSING COUNT  ###########################################
    ###################################################################################################
    

    # check for same size of dfs --> pass message to Note
    if len(pos_df.index) != len(tube_df.index):
        pos_df['Note'] = pos_df['Note'] + ' <<Check tube count!>>'
    
    # merge pos_df and tube_df
    merge_df = pos_df.merge(tube_df, left_index = True, right_index=True, how='inner')
    
    if (merge_df['Position'] == '-').any():
        # infer positions from successor position
        for i in list(merge_df.index)[-2::-1]:
            if merge_df.iloc[i][7] == '-' and not merge_df.iloc[i+1,7] == '-':
                merge_df.iloc[i,7] = int(merge_df.iloc[i+1,7]) - 1
                merge_df.iloc[i,5] = merge_df.iloc[i,5] + ' <<Position inferred>>'
    
        # infer positions from predecessor position
        for i in list(merge_df.index)[:-1]:
            if merge_df.iloc[i][7] != '-' and merge_df.iloc[i+1,7] == '-':
                merge_df.iloc[i+1,7] = int(merge_df.iloc[i,7]) + 1
                merge_df.iloc[i+1,5] = merge_df.iloc[i+1,5] + ' <<Position inferred>>'

    # format Sample_ID and Cryo_ID
    ##########
    ##########
    merge_df[sample_cols[0]] = merge_df[sample_cols[0]].astype('int')
    # create cryo_ID
    merge_df[cryo_cols[0]] = merge_df[sample_cols[0]].astype('str') + '-' + merge_df.index.astype('str') 

    
    # format integer columns
    merge_df.loc[merge_df['Position'] == "-"]['Position'] = -1
    
    for col in cryo_cols[2:-1]:
        merge_df[col] = merge_df[col].astype('int')  
    
    return merge_df

NameError: name 'timepoint' is not defined

In [7]:
# set column constants
patient_cols = ['PatientID', 'LastName','FirstName', 'DOB', 'SAP', 'Clinix']
data_cols = ['Timepoint', 'Date', 'Type', 'Count', 'N2', 'N2removed', 'DNA', 'Note']  # columns that are repeated horizontally and need to be reduced


def retrieve_tubes(row):
    '''
    expands every row of sample_df to a dataframe of cryo_tubes
    '''
    # get strings
    count_string = row['Count'] # 'Count'
    cryo_string = row['N2'] # 'N2'
    # dna_string = row[data_cols[3]] # 'DNA'
    
    if cryo_string == 'nan' or cryo_string == '/':
        return pd.DataFrame().append(row)
    ########
    print(row.name, row['Patient_ID'], count_string, cryo_string)
    ########
    
    def make_pos_df(tank,turm,box,pos_string):
        '''
        returns a position dataframe parsed from cryostring
        '''
        # initialize dataframe
        df = pd.DataFrame()
        # make a row for each position
        
        positions = [pos for pos in pos_string.replace(' ','').replace('-',',-,').split(',') if pos]
        for pos in positions:
            row[cryo_cols[-1]] = pos
            df = df.append(row)
        df[cryo_cols[-4]] = tank
        df[cryo_cols[-3]] = turm
        df[cryo_cols[-2]] = box
        
        # for i in list(df.index)[-2::-1]:
          #   if df.iloc[i,7] == '-' and not df.iloc[i+1,7] == '-':
            #     df.iloc[i,7] = int(df.iloc[i+1,7]) - 1
              #   df.iloc[i,5] = df.iloc[i,5] + ' <<Position inferred>>'
        return df
        
    ###################################################################################################
    #######################################  PARSING N2  ##############################################
    m = tank_pattern.match(cryo_string)
    tank = m.group('tank')
    turm = m.group('turm')
    box = m.group('box')
    
    # make the pos_df
    print(m.group('pos'))
    pos_df = make_pos_df(tank, turm, box, m.group('pos'))
    rest_string = m.group('rest')
  
    # handle rest_string (has to contain at least numbers)
    if rest_string and bool(re.search(r'\d', rest_string)):
        ##########
        # print(rest_string)
        ##########
        if 'Turm' in rest_string:
            m = turm_pattern.match(rest_string)     
            turm = m.group('turm')
            box = m.group('box')
            pos_df = pd.concat([pos_df, make_pos_df(tank, turm, box, m.group('pos'))], sort=True)
        elif 'Box' in rest_string:
            m = box_pattern.match(rest_string)
            box = m.group('box')
            pos_df = pd.concat([pos_df, make_pos_df(tank, turm, box, m.group('pos'))], sort=True)
       
    # remove superfluous columns to prevent doubling data
    pos_df = pos_df.reset_index().drop(sample_cols[1:4], axis=1)
    #######################################  PARSING N2  ##############################################
    ###################################################################################################
    
    ###################################################################################################
    #######################################  PARSING COUNT  ###########################################
    tube_df = pd.DataFrame()
    
    # account for 'nicht gezählt'
    if count_string == 'I nicht gezählt' or count_string == '' or count_string == 'nan' or count_string == '?':
        for _ in range(len(pos_df.index)):
            cryo_row = pd.Series({
                cryo_info[0]: None,
                cryo_info[1]: None,
                cryo_info[2]: None
            })
            tube_df = tube_df.append(cryo_row, ignore_index=True)
        count_string = ''
    while count_string: 
        m = count_pattern.match(count_string)
        if m:
            count_string = m.group('rest')
            organ = m.group('Organ')
            population = m.group('Population')
            cell_count = m.group('Cells')
            cryo_count = int(m.group('Count'))
        
            # infer stuff   
            if cell_count and not population:
                population = 'MN'
            if cell_count:
                population = 'MN'
            # infer organs if not set in sample
            if not row['Organ'].upper() in ['PB', 'BM','KM']:
                if 'GR' in population.upper() or 'PL' in population.upper():
                    organ = 'PB'
                if population == 'MN' and not organ:
                    organ = 'PB'
                    
            # return row for matches
            cryo_row = pd.Series({
                cryo_info[0]: organ,
                cryo_info[1]: population,
                cryo_info[2]: cell_count
            })
            for pos in range(cryo_count):
                tube_df = tube_df.append(cryo_row, ignore_index=True)
                
            ###############################################
            # print(row.name, organ, population, cell_count)
            ###############################################
        else:
            raise ValueError('No match with Count pattern')
    #######################################  PARSING COUNT  ###########################################
    ###################################################################################################
    

    # check for same size of dfs --> pass message to Note
    if len(pos_df.index) != len(tube_df.index):
        pos_df['Note'] = pos_df['Note'] + ' <<Check tube count!>>'
    
    # merge pos_df and tube_df
    merge_df = pos_df.merge(tube_df, left_index = True, right_index=True, how='inner')
    
    if (merge_df['Position'] == '-').any():
        # infer positions from successor position
        for i in list(merge_df.index)[-2::-1]:
            if merge_df.iloc[i][7] == '-' and not merge_df.iloc[i+1,7] == '-':
                merge_df.iloc[i,7] = int(merge_df.iloc[i+1,7]) - 1
                merge_df.iloc[i,5] = merge_df.iloc[i,5] + ' <<Position inferred>>'
    
        # infer positions from predecessor position
        for i in list(merge_df.index)[:-1]:
            if merge_df.iloc[i][7] != '-' and merge_df.iloc[i+1,7] == '-':
                merge_df.iloc[i+1,7] = int(merge_df.iloc[i,7]) + 1
                merge_df.iloc[i+1,5] = merge_df.iloc[i+1,5] + ' <<Position inferred>>'

    # format Sample_ID and Cryo_ID
    ##########
    ##########
    merge_df[sample_cols[0]] = merge_df[sample_cols[0]].astype('int')
    # create cryo_ID
    merge_df[cryo_cols[0]] = merge_df[sample_cols[0]].astype('str') + '-' + merge_df.index.astype('str') 

    
    # format integer columns
    merge_df.loc[merge_df['Position'] == "-"]['Position'] = -1
    
    for col in cryo_cols[2:-1]:
        merge_df[col] = merge_df[col].astype('int')  
    
    return merge_df  


def get_tube_df(df_samples, organ=''):    
    ######### CRYOS ################################
    # get the cryo_samples
    df_cryo_cond = df_samples.apply(retrieve_tubes, axis=1, result_type='reduce')
    # flatten the dataframe of dataframes
    df_cryos = pd.concat([df for df in df_cryo_cond], sort=True)
    
    # change columns and drop stuff
    ################################################  
    cryo_columns = [patient_cols[0], data_cols[0]] + sample_cols[0:4] + [sample_cols[-1]] + cryo_cols + cryo_info
    df_cryos = df_cryos[cryo_columns]
    
    # clean Note
    df_cryos.loc[df_cryos['Note'] == 'nan','Note'] = ''
    # clean everything
    df_cryos.fillna('', inplace=True)
    if organ:
        df_cryos.loc[df_cryos['Organ'] == '','Organ'] = organ
    return df_cryos

    
def xls2df(file, sheet_name='Sheet1', timepoints=[], organ=''):
    
    # load the xls-file to df
    df = pd.read_excel(file, sheet_name=sheet_name)
    
    df_samples = get_sample_df(df, timepoints, project_name=sheet_name)
    
    # df_tubes = get_tube_df(df_samples, organ=organ)

    return {'samples': df_samples, 'tubes': 'df_tubes'}